/*Belső gördítés finomítása, html elem tulajdonsága*/
html{
	scroll-behavior: smooth;
}


body{
	margin: 0;
	padding: 0;
	font-family: arial, verdana;
	background-color: #333333;
	color: white;
}


/*Navigációs sáv*/
#navbar{
	background-color: #111111;
	width: 100%;
	position: fixed; /*A navigációs sávmindig elérhető*/
	top: 0;
	left: 0;
	padding: 14px;
}
#navbar ul{
	width: 900px;
	margin: 0 auto;
	text-align: right;
	list-style: none;
	padding: 0;
}
#navbar ul li{
	display: inline-block;
	margin-left: 30px;
}
#navbar ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.5px;
	transition: color 0.3s ease 0s;
}
#navbar ul li a:hover{
	color: #5555ff;
}
/*Oldal tetejére gomb*/
#totop{
	position: fixed;
	bottom: 40px;
	right: 40px;
	background-color: #eeeeee;
	color: black;
	font-size: 18px;
	padding: 6px 18px;
	text-decoration: none;
	border-radius: 6px;
	transition: background 0.5s ease 0s, color 0.25s ease 0.25s;
}

#totop:hover {
	background-color: #333333;
	color: #eeeeee;
}


/*Háttérképek beállítása azonosítókhoz*/

#firstimg {
	background-image: url("img/1.jpg");
	overflow: hidden; /*az első elem fölső margóját nem szeretnénk ha túlnyúlna, a túlfolyás kikapcsolásával ez megoldható*/
}

/*Az első kép dobozában található üdvözlő doboz*/
#firstimg div{
	width: 500px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}
#firstimg div h1{
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 2px;
}
#firstimg div a{
	display: inline-block;
	margin-top: 24px;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	padding: 12px;
	border-radius: 6px;
	font-size: 20px;
	transition: background 0.5s ease 0s, color 0.25s ease 0.25s; 
}
#firstimg div a:hover{
	background-color: white;
	color: black;
	
}

#secondimg {
	background-image: url("img/2.jpg");
}

#thirdimg {
	background-image: url("img/3.jpg");
}

#fourthimg {
	background-image: url("img/4.jpg");
}

#fifthimg {
	background-image: url("img/5.jpg");
}

/*Képdobozok közös tulajdonságai osztályt használva*/

.imagebox{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed; /*Hogy gördüljön a háttérkép: nem gördül a tartalommal*/
}

/*Képdobozok beállítása osztállyal*/

.textbox{
	padding: 50px 0;
}
.textbox h2{
	width: 900px;
	margin: 0 auto;
	margin-top: 0;
}
.textbox p {
	width: 900px;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 0;
	font-size: 18px;
	text-align: jusitfy;
	line-height: 26px;
	letter-spacing: 1px; 
}






















