*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
h1{
    font-size: 4rem;
    color:white;
    font-family:sans-serif;
    text-align: center;
    line-height: 100vh;
}
span{
    opacity: 0;
    transform: translateY(50px);
    display:inline;

}
span.fade{
    opacity:1;
    transition: all 0.5s ease;
    transform: translateY(0px);
    font-size:100px;
}