body{
    text-align: center;
}
#raceTrack{
    background: url("../img/road.jpg") center left repeat-x;
    height: 330px;
    margin: 40px 0;
    border-right: 12px dashed white;
}

.car{
    display:block;
    position: relative;
}
#car1{
    top: 30px;
}
#car2{
    top: 100px;
}
#raceinfoContainer{
    width: 80%;
    margin: 0 auto;
    background: #333;
    height: 200px;
}
#raceinfoContainer h2{
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding: 20px 0;
    color: white;
}
.raceInfo{
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    float: left;
    color: white;
}
.raceInfo span{
    font-size: 18px;
    font-weight: normal;
    display: block;
    color: white;
}
#raceInfo1{
    color: rgb(34,182,34);
}
#raceInfo2{
    color: rgb(230,38,21);
}
input[type="button"]{
    background: rgb(34,182,34);
    color: white;
    padding: 10px 20px;
    border: 1px solid #333
}
input#reset{
    background: rgb(253,229,9);
    color: #333;
}